#root {
  height: 100vh;
}

.bg-black {
  background-color: black !important;
}

.epr-emoji {
  font-size: 16px !important;
}
.epr-search-container {
  display: none !important;
}

.epr_346qu6 {
  display: none !important;
}

.epr_-3yva2a {
  display: none !important;
}
